:root {
  color-scheme: light dark;
}

* {
  transition: background-color 100ms linear, color 40ms linear;
  /* border: 1px solid black; */
}

* {
  padding: 0.2rem;
  margin: 0;
  font-family: "Karla", "Courier New", Courier, monospace;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body > div{
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  color: var(--color);
  background: var(--background);
}
.light {
  --color: #111;
  --background: #eee;
  --subsection-background: #ddd;
  --highlight: #4a9;
  --link: #000;
  --link-visted: #636;
}
.dark {
  --color: #cecece;
  --background: #333;
  --subsection-background: #444;
  --highlight: #969;
  --link: #cecece;
  --link-visted: #636;
}


.mono {
  font-family: "Red Hat Mono", "Courier New", Courier, monospace;
  font-size: 0.85rem;
  padding: 0.1rem 0px;
  margin: 0;
  display: inline-block;
}

h1 {
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}

.container{
  flex: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

form {
  min-width: 26rem;
  display: flex;
  flex-direction: column;
}

form > div {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: large;
  display: flex;
  flex: 1;

  justify-content: space-around;
}
div > input, div > select, button {
  /* flex: 1; */
  width: 10rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color);
  padding: 0.3rem;
}
input label {
  margin-right: 2rem;
}

/* jar holder: two divs, side by side, input and select */
/* one for new jars, one for existing jars */
/* both have label, input, button */
.jar-holder {
  display: flex;
  flex-direction: row;
}

.jar-holder div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input > * {
  /* background-color: #4a9; */
  margin: 0.2rem;
}

.input label{
  margin-bottom: 0.6rem;
}

/*  */
.submit-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.nav-buttons button {
  border: 1px solid var(--subsection-background);
}

/* hide all input sections until JS decides to display */
.stage{
  /* display: none; */
  opacity: 0.15;
  transition: all 200ms ease-in-out;
}

.taunt-holder{
  opacity: 0;
}

.name .stage{
  opacity: 0;
}
.name .name-input{
  opacity: 1;
}

.swear .swear-input, .swear .nav-buttons{
  opacity: 1;
}

.jar .jar-holder, .jar .nav-buttons{
  opacity: 1;
}

.send-swear .swear-input, .send-swear .submit-input, .send-swear .nav-buttons{
  opacity: 1;
}
.send-swear .name-input, .send-swear .jar-holder, .send-swear .nav-buttons{
  opacity: 0;
}

.all .stage{
  opacity: 1;
}
/* EXCEPT THE TAUNT HOLDER */
.all .taunt-holder{
  opacity: 0;
}

/* Repositioning */
.send-swear .submit-input{
  transform: translate(0rem, -5rem);
}
.send-swear .swear-input{
  transform: translate(0rem, 2rem);
}

/* Only display the taunt on send-swear */
.send-swear .taunt-holder{
  opacity: 1;
  transform: translate(0rem, 4rem);
}
